@use '../../_foundation/' as *;

.fp-box {
  border-radius: 10px;
  background-color: var(--COLOR_BOX);

  &__inner {
    padding: 40px;
  }

  &__title {
    font-size: px-to-rem(24);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

    @include media-query {
      font-size: px-to-rem(30);
    }
  }
}

.m-box {
  $_this: &;
  margin-bottom: 32px;

  @include media-query {
    margin-bottom: 64px;
  }

  &__inner {
    background-color: var(--COLOR_BOX);
    width: 100%;
    border-radius: 32px;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    & [class^="m-"]:last-child {
      margin-bottom: 0;
    }
    
    @include media-query {
      padding: 40px 32px;
    }
  }

  &--color01 {
    #{$_this}__inner {
      background-color: #FEF2EE;
      border-radius: 24px;
    }
  }

  &--color02 {
    #{$_this}__inner {
      background-color: #ECF5F5;
      border-radius: 24px;
    }
  }

  &--color03 {
    #{$_this}__inner {
      background-color: #EEFBE7;
      border-radius: 24px;
    }
  }
}