@use '../../_foundation/' as *;

.fp-image {
    text-align: center;
}

.m-media {
    margin: 0 auto 64px;
    
    &__inner {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__media {
        width: fit-content;
        margin: 0 auto;
    }
}