@use '../../_foundation/' as *;

.hidden {
    display: none;
}

.news-list-01 {
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    border-top: 1px #000 solid;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-decoration: none;
        border-bottom: 1px #000 solid;
        padding: 15px 0px;
    }

    &__day {
        font-size: 18px;
        color: #000;
    }

    &__type {
        font-size: 14px;
        background-color: #6e569d;
        color: #ffffff;
        min-width: 110px;
        width: 10%;
        text-align: center;
        border-radius: 10px;
    }

    &__text {
        font-weight: bold;
        font-size: 20px;
        color: #000;
    }
}

.l-content__inner {
    --content-width: calc(1152px + calc( 48px * 2));
    --content-padding-inline: 48px;

    max-width: var(--content-width);
    padding: 32px var(--content-padding-inline) 56px;
    margin: 0 auto;

    @include media-query {
        padding-top: 40px;
        padding-bottom: 80px;
    }
}

.m-heading-lv2 {
    margin-top: 32px;

    @include media-query {
        margin-top: 48px;
    }
}

.m-heading-lv2__heading {
    --font-weight-bold: 600;

    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.37;
    letter-spacing: .68px;

    @include media-query {
        font-size: 3.4rem;
    }
}

.p-solution-search {
    margin-top: 16px;
    padding-top: 24px;
    background-image: url(/images/img-global-map.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include media-query {
        margin-top: 32px;
    }
}

.p-solution-search__title {
    display: flex;
    column-gap: 4px;
    justify-content: space-between;
    align-items: center;
}

.p-solution-search__titleText {
    --font-weight-bold: 600;

    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);

    @include media-query {
        font-size: 2.0rem;
    }
}

.p-solution-search__titleCancel {
    --color-key-blue: #004C92;
    --transition-duration-default: .2s;
    
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--color-key-blue);
    transition: color var(--transition-duration-default);
}

.search__titleCancel::before {
    content: "";
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    background-image: url(/images/icon-checkbox-cancel.svg);
    background-repeat: no-repeat;
}

.p-solution-narrowDown {
    margin-top: 24px;

    @include media-query {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.p-solution-narrowDown__block {
    --color-black: #000;

    border-top: 1px solid var(--color-black);

    @include media-query {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        padding: 24px 24px 24px 0;
        column-gap: 24px;
    }
}

.p-solution-narrowDown__title {
    color: var(--color-key-navy);
    font-weight: var(--font-weight-bold);
    display: flex;
    align-items: center;

    @include media-query {
        grid-column: 1 / 2;
        min-width: 200px;
    }
}

.p-solution-narrowDown__search {
    @include media-query {
        grid-column: 2 / 3;
    }
}

.p-solution-narrowDown__searchInner {
    display: flex;
    gap: 16px 24px;
    flex-direction: column;

    @include media-query {
        flex-flow: row wrap;
    }
}

.p-solution-narrowDown__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
    transition: color var(--transition-duration-default);
}

.p-solution-narrowDown__input {
    --transition-duration-default:.2s;

    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    background-color: #fff;
    border: 1px solid #656565;
    border-radius: 3px;
    appearance: none;
    outline: 1px solid rgba(0, 0, 0, 0);
    transition: border-color var(--transition-duration-default), outline-color var(--transition-duration-default);
}

.p-solution-narrowDown__input:checked {
    --color-key-blue: #004C92;

    border-color: var(--color-key-blue);
    outline-color: var(--color-key-blue);
    background-color: var(--color-key-blue);
}

.p-solution-narrowDown__input:checked+.p-solution-narrowDown__text::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 50%;
    width: 10px;
    height: 6px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: translateY(-4px) rotate(-45deg);
}

.m-circle {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 40px;
    @include media-query {
      margin-bottom: 80px;
    }
}

/* ===============================================
# message
=============================================== */
.message{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.message__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.message__title{
    font-size: 30px;
    text-align: center;
    font-family: 'Signika Negative';
}
.message__image{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &Inner {
        width: fit-content;
        margin: 0 auto;
        border-radius: 50%;
    }
}
.message__text{
    font-size: 18px;
    text-align: center;
    font-family: 'Signika Negative';
}
/* ===============================================
# circle
=============================================== */
.gradient-circle-container{
    max-width: 780px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 40px;
    z-index: -1;/*テキストを選択できるように */
    transform-origin: center center;
}
.gradient-stroke-circle {
    fill: none;/* 塗りつぶしをなしにする */
    stroke-width: 30;/* 円の線の太さ50 */
    stroke-dasharray: 1060 1413;/* 円の線のスタイルを指定。ここでは、線を75%(1060)と円周を(1413)に設定 */
    stroke-linecap: round;/* 円の線端を丸くする */
    /* transform: rotate(-90deg); /* 円を-90度回転させる 反転させたいときに使用 */
    transform-origin: center center; /* 回転の中心点を円の中心に設定 */
}