@use '../../_foundation/' as *;

.hidden {
    display: none;
}

.news-list-01 {
    margin-top: 20px;
    text-decoration: none;
    list-style: none;
    border-top: 1px #000 solid;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-decoration: none;
        border-bottom: 1px #000 solid;
        padding: 15px 0px;
    }

    &__day {
        font-size: 18px;
        color: #000;
    }

    &__type {
        font-size: 14px;
        background-color: #6e569d;
        color: #ffffff;
        min-width: 110px;
        width: 10%;
        text-align: center;
        border-radius: 10px;
    }

    &__text {
        font-weight: bold;
        font-size: 20px;
        color: #000;
    }
}

.l-content__inner {
    --content-width: calc(1152px + calc( 48px * 2));
    --content-padding-inline: 48px;

    max-width: var(--content-width);
    padding: 32px var(--content-padding-inline) 56px;
    margin: 0 auto;

    @include media-query {
        padding-top: 40px;
        padding-bottom: 80px;
    }
}

.m-heading-lv2 {
    margin-top: 32px;

    @include media-query {
        margin-top: 48px;
    }
}

.m-heading-lv2__heading {
    --font-weight-bold: 600;

    font-size: 2.4rem;
    font-weight: var(--font-weight-bold);
    line-height: 1.37;
    letter-spacing: .68px;

    @include media-query {
        font-size: 3.4rem;
    }
}

.m-circle {
    width: 100%;
    min-height: 78vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 40px;
    @include media-query {
      margin-bottom: 80px;
      min-height: 100vh;
    }
}

/* ===============================================
# message
=============================================== */
.message{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.message__content {
    display: flex;
    flex-direction: column;
    gap: 84px;

    @include media-query {
        gap: 24px;
    }
}
.message__title{
    font-size: 30px;
    text-align: center;
    font-family: 'Signika Negative';
}
.message__image{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &Inner {
        width: fit-content;
        margin: 0 auto;
        border-radius: 50%;
    }
}
.message__text{
    font-size: 18px;
    text-align: center;
    font-family: 'Signika Negative';
}
/* ===============================================
# circle
=============================================== */
.gradient-circle-container {
    width: 350px;
    height: auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0;
    z-index: -1;/*テキストを選択できるように */
    transform-origin: center center;

    @include media-query {
        width: 800px;
        min-width: 700px;
        top: 50%;
        padding: 0 40px;
    }
}
.gradient-stroke-circle {
    fill: none;/* 塗りつぶしをなしにする */
    stroke-width: 30;/* 円の線の太さ50 */
    stroke-dasharray: 1060 1413;/* 円の線のスタイルを指定。ここでは、線を75%(1060)と円周を(1413)に設定 */
    stroke-linecap: round;/* 円の線端を丸くする */
    /* transform: rotate(-90deg); /* 円を-90度回転させる 反転させたいときに使用 */
    transform-origin: center center; /* 回転の中心点を円の中心に設定 */
}
/* ===============================================
# splide
=============================================== */
.loop-splide {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 40px;
    @include media-query {
        margin: 0 auto 80px;
    }
}

.loop-splide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* スライド間のギャップを設定 */
.splide__slide {
    margin-right: 20px;
}

/* ===============================================
# loader backgrond 
=============================================== */
.l-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
  }

  .c-loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 100;
    display: grid;
    place-items: center;
    pointer-events: none;
  }

  .c-loader-dot {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    pointer-events: none;
  }

  .c-loader-dot>span {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
  }

  .c-loader-dot>span+span {
    margin-left: 3rem;
  }

  .l-inner {
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10rem;
  }

  .l-section {
    border-top: 1px solid #eee;
  }

  .l-section .l-inner {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .c-temp {
    line-height: 1;
  }

  .c-temp .l-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .c-temp .text {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .c-temp .button {
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    width: 12rem;
    padding: 1.6rem 0 1.2rem;
    text-align: center;
    letter-spacing: 0.1em;
    color: #fff;
    border-radius: 100px;
    background-color: var(--color-theme);
  }

  .c-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .c-mv {
    position: relative;
    min-height: 100%;
  }

  .c-mv_bubble {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    @media only screen and (max-width: 800px) {
        height: 100%;
    }
  }

  .c-mv_bubble_inner {
    width: 100%;
    @media only screen and (max-width: 800px) {
        height: 100%;
    }
  }


  .c-mv_title-wrap {
    padding-top: 200px;
    position: relative;
    z-index: 10;
    font-weight: bold;
  }

  .c-mv_title-item {
    font-size: 4.8rem;
    line-height: 2;
  }

  .c-mv_title-item span {
    /* transformプロパティを有効にするため */
    display: inline-block;
  }

  .c-mv_title-lead {
    line-height: 2;
    margin-top: 0.8rem;
    font-size: 24px;
  }

  .c-footer .l-inner {
    padding-top: 0;
  }

  .c-footer .text {
    color: var(--color-gray);
  }

  .c-info {
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 6.4rem;
  }

  .c-info li {
    position: relative;
    padding-left: 16px;
  }

  .c-info li::before {
    position: absolute;
    top: 0.6em;
    left: 0;
    display: inline-block;
    width: 8px;
    height: 2px;
    content: "";
    background-color: var(--color-gray);
  }

  .c-info li+li {
    margin-top: 0.8rem;
  }

  .c-title {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.6;
    display: inline-block;
    min-width: 32rem;
    margin-bottom: 6.4rem;
    vertical-align: top;
  }

  .c-title [class*="ico-"] {
    font-size: 1.3rem;
    line-height: 1;
    display: block;
    width: 10rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem 0 0.6rem;
    text-align: center;
    letter-spacing: 0.05em;
    border-radius: 100px;
    background-color: var(--color-gray);
  }

  .c-title .ico-advanced {
    color: #fff;
    background-color: #333;
  }

  @media only screen and (max-width: 599px) {
    html {
      font-size: 50%;
    }

    .pc-tab {
      display: none !important;
    }

    .c-temp .button {
      font-size: 1.2rem;
      width: 9rem;
    }

    .c-title {
      min-width: 100%;
    }
  }

  @media only screen and (min-width: 1025px) {
    .tab-sp {
      display: none !important;
    }

    .c-temp .button {
      -webkit-transition: var(--transition);
      transition: var(--transition);
    }

    .c-temp .button:hover {
      background-color: var(--color-theme-darken);
    }
  }

  @media only screen and (min-width: 600px) {
    .sp {
      display: none !important;
    }
  }

  @media only screen and (max-width: 1200px) {
    .c-info {
      display: block;
      margin-top: 0;
      margin-bottom: 6.4rem;
    }

    .c-title {
      margin-bottom: 3.2rem;
    }
  }

  @media only screen and (max-width: 1024px) {
    html {
      -webkit-text-size-adjust: 100%;
    }

    .l-inner {
      padding: 0 4rem;
    }

    .pc {
      display: none !important;
    }

    .c-temp .l-inner {
      padding: 3.2rem;
    }

    .c-mv {
      margin-left: 0;
    }

    .c-mv_title-item {
      font-size: 42px;
    }

    .c-mv_title-lead {
      font-size: 24px;
    }
  }

  .cls-1 {
      fill: url(#名称未設定グラデーション);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, -600px);
      }
  }

  .cls-2 {
      fill: url(#名称未設定グラデーション_2);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, -700px);
      }
  }

  .cls-3 {
      fill: url(#名称未設定グラデーション_3);

      @media only screen and (max-width: 599px) {
          transform: translate(-100px, 800px);
      }
  }

  .cls-4 {
      fill: url(#名称未設定グラデーション_4);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, -400px);
      }
  }

  .cls-5 {
      fill: url(#名称未設定グラデーション_5);

      @media only screen and (max-width: 599px) {
          transform: translate(-200px, 0px);
      }
  }

  .cls-6 {
      fill: url(#名称未設定グラデーション_6);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, 10%);
      }
  }

  .cls-7 {
      fill: url(#名称未設定グラデーション_7);

      @media only screen and (max-width: 599px) {
          transform: translate(-700px, -200px);
      }
  }

  .cls-8 {
      fill: none;
  }

  .cls-9 {
      fill: url(#名称未設定グラデーション_8);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, -100px);
      }
  }

  .cls-10 {
      fill: url(#名称未設定グラデーション_9);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, 100px);
      }
  }

  .cls-11 {
      fill: url(#名称未設定グラデーション_10);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, 700px);
      }
  }

  .cls-12 {
      fill: url(#名称未設定グラデーション_11);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, -300px);
      }
  }

  .cls-13 {
      fill: url(#名称未設定グラデーション_12);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, 100px);
      }
  }

  .cls-14 {
      fill: url(#名称未設定グラデーション_13);

      @media only screen and (max-width: 599px) {
          transform: translate(0px, 100px);
      }
  }

  .cls-15 {
    display: none;
      
      @media only screen and (max-width: 599px) {
        display: block;
        fill: url(#名称未設定グラデーション_15);
        transform: translate(600px, 900px);
      }
  }

  .cls-16 {
    display: none;
      
      @media only screen and (max-width: 599px) {
        display: block;
          fill: url(#名称未設定グラデーション_16);
          transform: translate(500px, -500px);
      }
  }

  .cls-17 {
    display: none;
      
      @media only screen and (max-width: 599px) {
        display: block;
        fill: url(#名称未設定グラデーション_17);
        transform: translate(200px, 1000px);
      }
  }

  .cls-18 {
    display: none;
      
      @media only screen and (max-width: 599px) {
        display: block;
        fill: url(#名称未設定グラデーション_18);
        transform: translate(113px, 760px);
      }
  }

  .cls-19 {
    display: none;
      
      @media only screen and (max-width: 599px) {
        display: block;
        fill: url(#名称未設定グラデーション_19);
        transform: translate(300px, -760px);
      }
  }

  .cls-20 {
    display: none;
      
      @media only screen and (max-width: 599px) {
        display: block;
        fill: url(#名称未設定グラデーション_20);
        transform: translate(400px, -400px);
      }
  }

  .bubble {
    animation: float 2s ease-in-out infinite alternate;
  }

  .bubble:nth-child(2) { animation-duration: 0.5s; animation-delay: 0.2s; }
  .bubble:nth-child(3) { animation-duration: 0.5s; animation-delay: 0.4s; }
  .bubble:nth-child(4) { animation-duration: 0.5s; animation-delay: 0.1s; }
  .bubble:nth-child(5) { animation-duration: 0.2s; animation-delay: 0.3s; }

  @keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
  }