@use '../../_foundation/' as *;

.fp-lyt-media {
    $_this: &;
  
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px 40px;
  
      @include media-query {
        flex-direction: row;
      }
    }
  
    &--reverse {
      #{$_this}__inner {
        flex-direction: column-reverse;
  
        @include media-query {
          flex-direction: row-reverse;
        }
      }
    }
}

.m-lyt-media {
  $_this: &;

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    
    @include media-query {
      flex-direction: row;
      column-gap: 24px;
    }
  }

  &--reverse {
    #{$_this}__inner {
      flex-direction: column-reverse;

      @include media-query {
        flex-direction: row-reverse;
      }
    }
  }

  &__media {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    min-width: 200px;
  }
}

.m-card {
  margin-bottom: 40px;
  @include media-query {
    margin-bottom: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 64px;
    justify-items: center;

    @include media-query {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 64px;
    }
  }

  &__item {
    text-align: center;
  }

  &__title {
    margin-bottom: 32px;
    font-size: px-to-rem(24);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__images {
    max-width: 120px;
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
}

.m-order {
  margin-bottom: 40px;
  @include media-query {
    margin-bottom: 80px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 64px;
    justify-items: center;

    @include media-query {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 64px;
    }
  }

  &__item {
    text-align: center;
  }

  &__title {
    margin-bottom: 32px;
    font-size: px-to-rem(24);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__images {
    max-width: 120px;
    max-height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
}