@use './_base/' as *;
@use './_foundation/' as *;
@use './_mlc/' as *;

.test {
  color: rgb(255, 38, 0);
  font-size: px-to-rem(20);

  @include media-query {
    color: rgb(0, 255, 255);
    font-size: px-to-rem(30);
  }

  @include hover {
    color:  rgb(55, 159, 55);
  }
}

.section-01 {
    margin-top: 120px;
    margin-bottom: 120px;

    @include media-query {
      margin-top: 160px;
      margin-bottom: 160px;
    }

    &__inner {
        padding: 0 40px;
        margin: auto;
        max-width: 1280px;

        @include media-query {
            padding: 0 16px;
        }
   }
 }

 .center {
  text-align: center;
 }

 .fp-header-head {
  display: flex;

  @include media-query {
    justify-content: center;
  }
  
  &__link {
    display: none;

    @include media-query {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px;
      color: #000;
      font-size: px-to-rem(13);
    }
  }

  &__btn {
    background-color: #f4f4f4;
    display: flex;
    height: 56px;
    overflow: hidden;
    padding: 56px 0 0 60px;
    position: relative;
    width: 60px;

    &-state {
      transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), bottom 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
      background-color: #67a9cf;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 22px;
      top: 25px;

      &::before,
      &::after {
        transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), bottom 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        background-color: #67a9cf;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 22px;
      }

      &::before {
        top: 20px;
      }

      &::after {
        bottom: 20px;
      }
    }

    @include media-query {
      display: none;
    }
   }

   &__btn.active {
    display: none;
   }
 }

 .fp-header-body {
  display: none;

  @include media-query {
    border-radius: 10px;
    background-color: var(--COLOR_BOX);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
    text-align: center;
    display: block;
  }

  &__inner {
    padding: 40px;
    position: relative;

    &-link {
      display: none;

      @include media-query {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        color: #000;
        font-size: px-to-rem(13);
      }
    }
  }

  &__title {
    font-size: px-to-rem(24);
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;

    @include media-query {
      font-size: px-to-rem(30);
    }
  }
}

 .fp-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  &__item {
    &-text {
      color: #908282;
      font-weight: bold;
    }
  }
 }

.kokiHeader {
  margin: 31px 25px 0;

  @include media-query {
    margin: 84px 120px 0;
  }

  &__inner {
    display: none;

    @include media-query {
      border-radius: 10px;
      background-color: var(--COLOR_BOX);
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
      text-align: center;
      display: inline-block;
      padding: 32px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
   }

   &__text {
      color: #908282;
      font-weight: bold;
      position: relative;
      transition: all .3s ease;

      @include hover {
        color: #FDB0A3;
      }

      @include hover {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: inline-block;
          width: 32px;
          height: 32px;
          background-color: #FEF4E7;
          border-radius: 50%;
          z-index: -10;
        }
      }
    }
}

.hamburger {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #c61212;
  margin: 0 0 0 auto;

  &::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: var(--COLOR_FONT);
    border-radius: 2px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: var(--COLOR_FONT);
    border-radius: 2px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }

  @include media-query {
    display: none;
  }

  &__line {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: var(--COLOR_FONT);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__caption {
    color: var(--COLOR_FONT);
    display: flex;
    justify-content: flex-end;
    font-size: px-to-rem(10);
    margin-right: .15rem;
  }
}